# --- Configuración Base de Airflow ---
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_PIP_ADDITIONAL_REQUIREMENTS=pandas requests psycopg2-binary
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
_AIRFLOW_WWW_USER_FIRSTNAME=Admin
_AIRFLOW_WWW_USER_LASTNAME=System

# --- Credenciales de Alertas (DAG 5) ---
TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=TELEGRAM_CHAT_ID
BREVO_SENDER_EMAIL=example@example.com
BREVO_API_KEY=BREVO_API_KEY
ALERT_EMAIL=example@example.com, example2@example.com
